@import 'tailwindcss';
@import 'lenis/dist/lenis.css';

@theme {
  --font-sans: 'New Studio Sans', sans-serif;
  --font-mono: 'Ubuntu Mono', monospace;

  --color-background: #f4f4f4;
  --color-body: #f4f4f4;
  --color-foreground: #000014;
  --color-secondary: #838391;
  --color-primary: #0000f4;
  --color-gray: #838391;
}

html {
  @media (min-width: 1280px) {
    font-size: calc(100vw / 1280 * 14);
  }
  /* @media (min-width: 1920px) {
    font-size: calc(100vw / 1920 * 16);
  } */
}

body {
  @apply bg-body;
}

:root::selection {
  color: var(--color-background);
  background: var(--color-primary);
}

/* -------------------------------- */
/* -------------------------------- */
/* Layouts */
/* -------------------------------- */
/* -------------------------------- */
.center-hero {
  @apply pt-60 pb-40 text-center;
}

.about-media-wrapper {
  --col-1: 2fr;
  --col-2: 1fr;

  display: grid;
  grid-template-columns: var(--col-1) var(--col-2);
  gap: 1.25rem;
}

mux-player:not([controls='true']) {
  --controls: none;
}

mux-player {
  --live-button: none;
  --seek-backward-button: none;
  --seek-forward-button: none;
  --cast-button: none;
  --playback-rate-button: none;
  --pip-button: none;
  --captions-button: none;
  --rendition-menu-button: none;
  --media-object-fit: cover;
  --volume-range: none;
  --fullscreen-button: none;
}

mux-player::part(bottom rendition button) {
  @apply hidden;
}
mux-player::part(bottom time display) {
  @apply absolute right-8;
}
mux-player::part(bottom time range) {
  --media-time-range-buffered-color: hsla(0, 0%, 100%, 0.2);
  @apply absolute bottom-10 left-24;
  width: calc(100% - 13rem);
}
mux-player::part(control-bar bottom) {
  @apply pointer-events-none p-4;
  --media-control-hover-background: hsla(0, 0%, 100%, 0.2);
}
mux-player::part(control-bar bottom) {
  @apply p-8;
}

/* -------------------------------- */
/* -------------------------------- */
/* Utilities */
/* -------------------------------- */
/* -------------------------------- */
@layer utilities {
  .container {
    @apply mx-auto max-w-none px-5;
  }
}

.custom-grid {
  @apply grid w-full grid-cols-12 gap-x-5;
}

.text-spacer {
  @apply inline-block w-57;
}

hr {
  @apply border-secondary/40 border-b;
}

/* -------------------------------- */
/* -------------------------------- */
/* Typography & Sizing */
/* -------------------------------- */
/* -------------------------------- */

.label {
  @apply font-mono text-sm font-normal uppercase;
}

.display {
  @apply text-8xl font-normal;
}

.heading-1 {
  @apply text-6xl leading-14 font-normal;
}

.heading-2 {
  @apply text-5xl font-normal;
}

.medium {
  @apply text-xl leading-none font-normal;
}

.normal {
  @apply mb-2 text-base leading-none font-normal;
}

/* -------------------------------- */
/* -------------------------------- */
/* Animations */
/* -------------------------------- */
/* -------------------------------- */
.hover-bg {
  @apply bg-foreground/50 absolute top-0 left-0 z-0 h-full w-full scale-95 rounded-sm opacity-0 transition-all duration-200 ease-out group-hover:scale-100 group-hover:opacity-100;
}

.anim-box {
  @apply transition-all duration-[400ms] ease-in-out;
}

.menu-open .anim-box-top-left {
  @apply translate-x-[50%] translate-y-[50%] rotate-45;
}

.menu-open .anim-box-top-right {
  @apply -translate-x-[50%] translate-y-[50%] rotate-45;
}

.menu-open .anim-box-bottom-left {
  @apply translate-x-[50%] -translate-y-[50%] rotate-45;
}

.menu-open .anim-box-bottom-right {
  @apply -translate-x-[50%] -translate-y-[50%] rotate-45;
}

.group:hover:not(.menu-open) .anim-box-top-left {
  @apply translate-x-[25%] translate-y-[25%];
}

.group:hover:not(.menu-open) .anim-box-top-right {
  @apply -translate-x-[25%] translate-y-[25%];
}

.group:hover:not(.menu-open) .anim-box-bottom-left {
  @apply translate-x-[25%] -translate-y-[25%];
}

.group:hover:not(.menu-open) .anim-box-bottom-right {
  @apply -translate-x-[25%] -translate-y-[25%];
}

/* -------------------------------- */
/* -------------------------------- */
/* View Transitions */
/* -------------------------------- */
/* -------------------------------- */

@property --view-transition-duration {
  syntax: '<time>';
  inherits: true;
  initial-value: 0.6s;
}

:root {
  --view-transition-easing: cubic-bezier(0.87, 0, 0.13, 1);
  --ease-in-out-sine: cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

::view-transition-group(*) {
  animation-duration: var(--view-transition-duration);
  animation-timing-function: var(--view-transition-easing);
}

@keyframes oldPage {
  0% {
    clip-path: xywh(0 0 100% 100% round 0);
    transform: scale(1);
  }

  to {
    clip-path: xywh(0 0 100% 100% round 1.5rem);
    transform: scale(0.95);
  }
}

@keyframes newPage {
  0% {
    clip-path: xywh(0 50% 100% 100% round 1.5rem);
    transform: translateY(50%);
  }

  to {
    clip-path: xywh(0 0 100% 100% round 0);
    transform: translate(0);
  }
}

::view-transition-image-pair(root) {
  background: var(--color-foreground);
}

::view-transition-old(root) {
  animation: var(--view-transition-duration) oldPage
    var(--view-transition-easing);
}

::view-transition-new(root) {
  animation: var(--view-transition-duration) newPage
    var(--view-transition-easing);
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s var(--ease-in-out-sine);
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

/* -------------------------------- */
/* -------------------------------- */
/* Custom Cursor */
/* -------------------------------- */
/* -------------------------------- */

/* Show cursor when hovering over elements with data-cursor attribute */
body:has([data-cursor]:hover) .custom-cursor {
  @apply opacity-100;
}

.custom-cursor {
  @apply bg-primary text-background pointer-events-none fixed z-1000 rounded-3xl px-3 py-2 text-base opacity-0 transition-opacity duration-200;
}

.custom-cursor-paragraph {
  @apply m-0;
}
